<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Об авторе — AutoService</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100">
<div class="card shadow-lg" style="max-width: 400px; max-height: 600px">
    <img th:src="@{/images/author.jpg}" class="card-img-top" alt="Автор"/>
    <div class="card-body text-center">
        <h4 class="card-title">Буевич Роман</h4>
        <p class="card-text">
            Меня зовут Буевич Роман, мне 20 лет. В настоящее время я совмещаю учебу с работой менеджером в винном заведении, что позволяет мне не только развивать свои профессиональные навыки, но и углубляться в мир гастрономии и виноделия. Эта работа научила меня управлять командой, общаться с клиентами и принимать ответственные решения в динамичной среде.<hr/>
            Ранее я занимался спортом на профессиональном уровне, что привело меня к тренерской деятельности. Я имел возможность работать с детьми, передавая им свои знания и опыт, а также формируя у них любовь к спорту. Этот опыт научил меня важности терпения, настойчивости и командной работы.<hr/>
            Я стремлюсь к постоянному развитию и самоусовершенствованию, поэтому активно ищу возможности для обучения и
            получения новых навыков. Уверен, что сочетание моего спортивного прошлого и опыта работы в сфере обслуживания
            поможет мне достичь успеха в будущем.
        </p>
        <a href="/" class="btn btn-primary">На главную</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
